---
layout: default
---

<div class="posts">
    <h2>Past Meetings</h2>
  {% capture currentYear %}{{ page.date | date: "%Y" }}{% endcapture %}

    <dl class="dl-horizontal">
        <h4>{{ currentYear }}</h4>
  {% for post in site.posts %}
    <!-- Year -->
    {% capture currentPostYear %}{{ post.date | date: "%Y" }}{% endcapture %}

    {% if currentPostYear != currentYear %}
        {% capture currentYear %}{{ currentPostYear }}{% endcapture %}
        <h4>{{ currentYear }}</h4>
    {% endif %}

        <dt>{{ page.date | date: "%B %Y" }}</dt>
        <dd><a href="{{ site.baseurl }}{{ post.url }}">{{ post.speaker }} - {{ post.title }}</a></dd>
    </dl>
  {% endfor %}
</div>