---
layout: default
title: Meetings
description: View our upcoming, and past meetings here.
---

<div class="posts">
    <h2>Meetings</h2>

{% for post in site.posts %}
  {% capture currentYear %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture nextYear %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
    <dl class="dl-horizontal">
      <h4>{{ currentYear }}</h4>
  {% endif %}

      <dt>{{ post.date | date: "%B %Y" }}</dt>
      <dd><a href="{{ site.baseurl }}{{ post.url }}">
      {% if post.speaker != "N/A" %}
        <em>{{ post.speaker }}</em> -
      {% endif %}
      {{ post.title }}</a></dd>

  {% if forloop.last %}
    </dl>
  {% else %}
    {% if currentYear != nextYear %}
    </dl>
    <dl class="dl-horizontal">
      <h4>{{ nextYear }}</h4>
    {% endif %}
  {% endif %}
{% endfor %}
</div>
