---
layout: default
title: Sponsors
description: Our sponsors are the main reason we can still do what we do. View them here, or become one here.
---
<div class="row">
    <div class="col-md-12">
      <h2>Thank you to our sponsors.</h2>
      <p>Food, drink, and prizes are all possible thanks to these great organizations. </p>
      <a href="/becomesponsor/" class="btn btn-lg btn-primary">Want to sponsor us?</a>
    </div>
</div>
<div class="row">
  <h2 class="col-sm-12">Gold</h2>
</div>
<div class="row">
  {% for sponsor in site.sponsors %}
  {% if sponsor.level == 'gold' %}
  <div class="col-sm-6 col-md-4">
    <div class="img-change">
      <a href="{{sponsor.url}}"><img src="{{sponsor.image}}" alt="LRDNUG Sponsor: {{sponsor.name}}"></a>
    </div>
    <h3 class="media-heading"><a href="{{sponsor.url}}">{{sponsor.name}}</a></h3>
    <p>{{sponsor.description}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="row">
  <h2 class="col-sm-12">Silver</h2>
</div>
<div class="row">
  {% for sponsor in site.sponsors %}
  {% if sponsor.level == 'silver' %}
  <div class="col-sm-6 col-md-4">
    <div class="img-change">
      <a href="{{sponsor.url}}"><img src="{{sponsor.image}}" alt="LRDNUG Sponsor: {{sponsor.name}}"></a>
    </div>
    <h3 class="media-heading"><a href="{{sponsor.url}}">{{sponsor.name}}</a></h3>
    <p>{{sponsor.description}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="row">
    <h2 class="sm-col-12">Bronze</h2>
</div>
<div class="row">
  {% for sponsor in site.sponsors %}
  {% if sponsor.level == 'bronze' %}
  <div class="col-sm-6 col-md-4">
    <div class="img-change">
      <a href="{{sponsor.url}}"><img src="{{sponsor.image}}" alt="LRDNUG Sponsor: {{sponsor.name}}"></a>
    </div>
    <h3 class="media-heading"><a href="{{sponsor.url}}">{{sponsor.name}}</a></h3>
    <p>{{sponsor.description}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="row">
  <h2 class="col-sm-12">Partners</h2>
</div>
<div class="row">
  {% for sponsor in site.sponsors %}
  {% if sponsor.level == 'partner' %}
  <div class="col-sm-6 col-md-4">
    <div class="img-change">
      <a href="{{sponsor.url}}"><img src="{{sponsor.image}}" alt="LRDNUG Sponsor: {{sponsor.name}}"></a>
    </div>
    <h3 class="media-heading"><a href="{{sponsor.url}}">{{sponsor.name}}</a></h3>
    <p>{{sponsor.description}}</p>
  </div>
  {% endif %}
  {% endfor %}
</div>
