
<section class="officers">
{% if site.officers.president %}
  <section class="president">
    <strong>President:</strong>
    <a href="mailto:asims@lrdnug.org">Abby Sims</a>
  </section>
{% endif %}
{% if site.officers.vice-president %}
  <section class="vice-president">
    <strong>Vice President:</strong>
    Vacant
  </section>
{% endif %}
{% if site.officers.webmaster %}
  <section class="webmaster">
    <strong>Board Member:</strong>
    <a href="mailto:jmiller@lrdnug.org">Jeffrey Miller</a>
  </section>
{% endif %}
{% if site.officers.sponsor-coord %}
  <section class="sponsor-coord">
    <strong>Board Member:</strong>
    <a href="mailto:wtjones@lrdnug.org">Travis Jones</a>
  </section>
{% endif %}
{% if site.officers.event-coord %}
  <section class="event-coord">
    <strong>Board Member:</strong>
    <a href="mailto:mcollins@lrdnug.org">Michael Collins</a>
  </section>
{% endif %}
{% if site.officers.training-coord %}
  <section class="training-coord">
    <strong>Board Member:</strong>
   Vacant 
  </section>
{% endif %}
</section>
