
<section class="sponsors">
<h2>Food, drinks, and prizes made possible by these great sponsors</h2>
<div class="row">
	{% for sponsor in site.sponsors %}
	<div class="col-sm-6 col-md-4">
		<div class="callout-card {{sponsor.level}} ">
			<div class="card-label">
				<div class="label-text">
					{{sponsor.level}}
				</div>
			</div>
			<div class="callout-card-content">
				<a href="{{sponsor.url}}">
					<img src="{{sponsor.image}}"/>
				</a>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="col-sm-6 col-md-4">
		<a href="/becomesponsor/" class="btn btn-sm btn-default center-block" style="height:75px;padding-top:25px">Want to sponsor us?</a>
	</div>
</div>
</section>
